<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/xulydangky" method="post">
      <input type="text" name="username" placeholder="nhap username">
      <br><br>
      <input type="text" name="password" placeholder="nhap password">
      <br><br>
      <input type="text" name="phone" placeholder="nhap sdt">
      <br><br>
      <input type="submit" value="dang ky">
    </form>

  </body>
</html>
